<nav id="primary" class="navigation">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="about-me.html">About Me</a>
        </li>
        <li>
            <a href="accessibility.html">Accessibility</a>
        </li>
        <li>
            <a href="code.html">Code</a>
        </li>
        <li>
            <a href="portfolio.html">Portfolio</a>
        </li>
        <li>
            <a href="blog-home.html">Blog</a>
        </li>
    </ul>
</nav>
